
<div class="header row col-md-12 col-sm-12 col-xs-12 no-gap" style="position:absolute">
    <div class="col-md-2 col-sm-2 col-xs-2 no-gap">
        <div class="header-logo">GMart</div>
    </div>
    <div class="col-md-10 col-sm-10 col-xs-10 menu no-gap">
        <div id="menu-top">
            <div class="col-md-8 col-sm-8 col-xs-8 menu-header">
                <h3>@ViewBag.Header  </h3>
            </div>
            <div class="col-md-1 col-sm-1 col-xs-1">
                <span class="logout">
                    <img src="~/Images/icon_logout.png" height="20" width="20" class="img-responsive" alt="Logout" />
                    <h4>Logout</h4>
                </span>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3 login-user">
                <div style="width:70%">
                    <h4>Welcome!</h4>
                    <h3>Roshan</h3>
                </div>
                <div style="float:right; width:30%;text-align:center">
                    <img src="~/Images/default_profile_image.png" class="circle-image" alt="Logo" />
                </div>
            </div>
        </div>
    </div>
</div>


